a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;

}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    /* width:180px; */
}

.body {
    background-color: #222D32;
}

.top_150 {
    margin-top: 150px;
}
.mg_20{
    margin-top: 20px;
}
.panel-title {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
}

.lt_aside {
    width: 180px;
    height: 100%;
    background-color: #222D32;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

}

/* #222D32; */
.lt_aside .brand {
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #367FA9;
}

.lt_aside .brand a {
    color: #fff;
}

.lt_aside .user {
    width: 180px;
    height: 180px;
    margin-top: 30px;

}

.lt_aside .user img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.lt_aside .user p {
    text-align: center;
    font-size: 20px;
    color: #fff;
    padding-top: 10px;
}


.lt_aside .nav a {
    color: #fff;
    display: block;
    /* width: 100%; */
    height: 40px;
    line-height: 40px;
    padding-left: 40px;
}
.current{
    background-color: #1D1F21;
    border-left:3px solid #367FA9;
}

.lt_aside .nav i {
    padding-right: 5px;
}

.lt_main {
    background-color: #FFF;
    height:2000px;
    padding-left:180px;
    padding-top:50px; 
}
.lt_main .lt_topbar {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    padding-left: 180px;
    background-color: #3C8DBC;

}

.lt_main .lt_topbar a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
